html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

header {
    background-color: #BFFFC2;
}

body {
    margin-bottom: 60px;
    font-family: 'Avrile-Sans-Condensed-SemiBold';
}

.summer {
    background-image: url("/backgrounds/summer.png");
}
.fall {
    background-image: url("/backgrounds/fall.png");
}
.winter {
    background-image: url("/backgrounds/winter.png");
}

.content {
    padding-top: 8px;
    font-size: 12px;
    display: none;
}

.footer {
    background-color: #BFFFC2;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    width: 100%;
    line-height: 60px;
    font-family: 'Nunito', sans-serif;
    transition: line-height 0.5s ease;
}

ul {
    color: black;
    list-style-type: none;
}

ul.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

/* Hide text by upload form */
input[type="file"] {
    color: transparent;
}
/* Change text inside upload form */
#fileUpload::-webkit-file-upload-button {
    visibility: hidden;
}
#fileUpload::before {
    content: 'Upload Save';
    display: inline-block;
    background-color: lightgray;
    color:black;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tabs {
    overflow: hidden;
    margin-bottom: -5px;
    margin-left: 5px;
    padding-top:20px;
}
.tab-button {
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab-button:hover {
    background-color:#ddd;
    height: 48px;
    margin-top: -8px;
}
.tab-button.active {
    background-color: #BFFFC2
}
.tabcontent {
    display: none;
    padding: 20px;
    background: white;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
}
.tabcontent.show {
    display: block;
}

.row {
    margin-bottom:20px;
}

.section {
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin:10px;
    margin-bottom:30px;
    position: relative;
}
.section-title {
    background: white;
    width:fit-content;
    height:15px;
    margin-top:-34px;
    margin-left: -12px;
    position: relative;
}

.inventory {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 16px;
}
.inventory-slot {
    background-color: #6363FF !important;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inventory-slot img {
    width: 100%;
}

.icon {
    border: 4px solid gray;
    float: left;
    padding: unset;
    background-color: lightgray;
    --matched-radius-padding: 4px;
    --matched-radius-inner-size: 10px;
    border-radius: calc(var(--matched-radius-inner-size) + var(--matched-radius-padding));
    width: 60px;
    height: 60px;
    margin-left: 3px;
    margin-top: 6px;
}

/* Select2 Dropdowns */
.select2 {
    height:30px;
}
.select2-container .select2-selection--single {
    height: 30px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid black !important;
    border-radius: 5px !important;
}

/* Forms */
.form-control {
    width:8.5em;
    height:30px;
}
.form-check-input {
    margin-right:3px;
}

/* Fix Dropdown Arrows Disappearing */
.form-control {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    -ms-appearance: menulist !important;
    -o-appearance: menulist !important;
    appearance: menulist !important;
}

.icon {
    border: 4px solid gray;
    float: left;
    padding: unset;
    background-color: lightgray;
    --matched-radius-padding: 4px;
    --matched-radius-inner-size: 10px;
    border-radius: calc(var(--matched-radius-inner-size) + var(--matched-radius-padding));
}

.collapsible {
    cursor: pointer;
    padding: 4px;
    padding-right: 8px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    bottom: 0;
    left: 0;
    background: none;
    color: white;
    font-size: 12px;
    font-style: italic;
}

.hidden {
    display: none !important;
}

@font-face {
    font-family: 'Avrile-Sans-Condensed-SemiBold';
    src:  url('../bubble/Avrile-Sans-Condensed-SemiBold.ttf.woff') format('woff'),
    url('../bubble/Avrile-Sans-Condensed-SemiBold.ttf.svg#Avrile-Sans-Condensed-SemiBold') format('svg'),
    url('../bubble/Avrile-Sans-Condensed-SemiBold.ttf.eot'),
    url('../bubble/Avrile-Sans-Condensed-SemiBold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/* ac-bubble by @tomathepolliwog */
.ac-bubble {
    position: absolute;
    display:none;
}
.ac-bubble-tooltip {
    display:block;
    position:relative;
    filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.5));
    margin:5px;
}
.ac-bubble-content {  
    color: #5a3c32;
    font-size:24px;
    z-index: 901;
}
.ac-bubble-content p {
    font-family: 'Avrile-Sans-Condensed-SemiBold' !important;
    padding:0;
    position: relative;
    z-index: 902;
}
.ac-bubble-container{
    z-index: 900;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 12px 1fr 1fr 12px;
    grid-template-rows: 24px 1fr 1fr 24px;
    /* image-rendering: crisp-edges; */
    image-rendering: optimizeSpeed;
    image-rendering: auto;
    width: max-content;
    height:56px;
}
.ac-bubble-tl img, .ac-bubble-tr img, .ac-bubble-bl img, .ac-bubble-br img {
    display:block;
    margin:0;
    padding:0;
    justify-items: stretch;
    align-items:stretch;
    width:100%;
    height:100%;
}
.ac-bubble-tl {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    position:relative;
    z-index:899;
}
.ac-bubble-tr {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    position:relative;
    z-index:899;
}
.ac-bubble-tr img {
    transform:scaleX(-100%);
}
.ac-bubble-mc {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    display:flex;
    align-items: center;
}
.ac-bubble-content {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
    display:inline-block;
    text-align:center;
    margin-left:12px;
    margin-right:12px;
    margin-top:18px;
    margin-bottom:2px;
}
.ac-bubble-bl {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    position:relative;
    z-index:899;
}
.ac-bubble-bl img {
    transform:scaleY(-100%);
}
.ac-bubble-br {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    position:relative;
    z-index:899;
}
.ac-bubble-br img {
    transform:scaleY(-100%) scaleX(-100%);
}
.ac-bubble-triangle {
    display:block;
    z-index:898;
    position:relative;
    margin-bottom:-30px;
    margin-left:10px;
}
.ac-bubble-triangle img {
    width:30px;
    height:30px;
}