@font-face {
    font-family: 'Avrile-Sans-Condensed-SemiBold';
    src: url('../fonts/Avrile-Sans-Condensed-SemiBold.ttf.woff') format('woff'), url('../fonts/Avrile-Sans-Condensed-SemiBold.ttf.svg#Avrile-Sans-Condensed-SemiBold') format('svg'), url('../fonts/Avrile-Sans-Condensed-SemiBold.ttf.eot'), url('../fonts/Avrile-Sans-Condensed-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avrile-Sans-Condensed';
    src: url('../fonts/Avrile-Sans-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 14px;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: none;
}

.spacer {
    margin-top:34px;
}

main {
    min-height: calc(100vh - 164px);
}

header {
    background-color: #BFFFC2;
}
.header-container {
    margin: 0;
    justify-content:space-between;
}
.acgc-title {
    color:black;
    font-size: 28px;
    padding:10px;
}
.header-right-side {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

body {
    font-family: 'Avrile-Sans-Condensed';
    overflow-x: hidden;
    background-image: url("/acgc-se/backgrounds/summer.png");
}

.summer {
    background-image: url("/acgc-se/backgrounds/summer.png");
}
.fall {
    background-image: url("/acgc-se/backgrounds/fall.png");
}
.winter {
    background-image: url("/acgc-se/backgrounds/winter.png");
}

.content {
    padding-top: 8px;
    font-size: 12px;
    display: none;
}

.footer {
    background-color: #BFFFC2;
    position: relative;
    bottom: 0;
    white-space: nowrap;
    width: 100%;
    line-height: 60px;
    font-family: 'Nunito', sans-serif;
    transition: line-height 0.5s ease;
    z-index:3;
}

ul {
    color: black;
    list-style-type: none;
}

ul.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left:20px !important;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

/* Hide the text next to upload form */
input[type="file"] {
    color: transparent;
}
/* Change text inside upload form */
#fileUpload {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}
#fileUploadLabel {
    display: inline-block;
    background-color: lightgray;
    color: black;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.row {
    margin-bottom: 20px;
}

.tabs {
    overflow: hidden;
    margin-bottom: -5px;
    margin-left: 5px;
    padding-top: 20px;
}
.tab-button {
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab-button:hover {
    background-color:#ddd;
    height: 48px;
    margin-top: -8px;
}
.tab-button.active {
    background-color: #BFFFC2
}
.tab-button-inner {
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab-button-inner:hover {
    background-color: #ddd;
}
.tab-button-inner.active {
    background-color: #BFFFC2
}
.tab-button-inner.inactive {
    background-color: #f2f2f2;
}
.tabcontent {
    display: none;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
    width: 98%;
    background:white;
}
.tabcontent.show {
    display: block;
}
.inner-tabcontent {
    display: none;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
    width: 98%;
    background: white;
}
.inner-tabcontent.show {
    display: block;
}

.section-title {
    background: white;
    width: fit-content;
    height: 15px;
    margin-top: -34px;
}
.section {
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    margin-bottom: 10px;
    background: white;
}
.section-inventory {
    position: relative;
    overflow: hidden;
}
.section-inventory::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
}
.section-inventory::after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: 0;
    animation: animateBackground 75s linear infinite;
}
.section-inventory_1::after {
    background-image: url("https://raw.githubusercontent.com/TOTKSheet/ACGCImages/main/Items/Textures_Upscaled/24E2_big_dot_shirt.png");
}
.section-inventory_2::after {
    background-image: url("https://raw.githubusercontent.com/TOTKSheet/ACGCImages/main/Items/Textures_Upscaled/24E2_big_dot_shirt.png");
}
.section-inventory_3::after {
    background-image: url("https://raw.githubusercontent.com/TOTKSheet/ACGCImages/main/Items/Textures_Upscaled/24E2_big_dot_shirt.png");
}
.section-inventory_4::after {
    background-image: url("https://raw.githubusercontent.com/TOTKSheet/ACGCImages/main/Items/Textures_Upscaled/24E2_big_dot_shirt.png");
}
@keyframes animateBackground {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.inventory {
    display: grid;
    grid-template-columns: repeat(5, 56px);
    grid-template-rows: repeat(3, 56px);
    gap: 12px;
    width: auto;
    margin-bottom: 15px;
}
.inventory-slot {
    background-color: #6363FF !important;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    z-index:2;
}
.inventory-slot img {
    width: 100%;
}

.text-over-background {
    position: relative;
    z-index: 2;
    background: white;
    width: 100px;
    height:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom:-10px;
    margin-left: 5px;
    text-align:center;
    border: 1px solid black;
    background-color: #EEEEEE;
}

.icon {
    border: 4px solid gray;
    float: left;
    padding: unset;
    background-color: lightgray;
    --matched-radius-padding: 4px;
    --matched-radius-inner-size: 10px;
    border-radius: calc(var(--matched-radius-inner-size) + var(--matched-radius-padding));
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.icon img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Select2 Dropdowns */
.select2 {
    height:32px;
    position:relative;
    z-index:2;
}
.select2-container .select2-selection--single {
    height: 32px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid black !important;
    border-radius: 5px !important;
}

select > * {
    font-family: "Roboto", sans-serif;
}

/* SELECT2 DROPDOWN VERTICALLY ALIGN TEXT */
#select2-itemDropdownPlayer-container {
    display: flex;
    align-items: center;
    height: 100%;
}
#select2-player_inventory_background-container {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Forms */
.form-control {
    border: 1px solid black;
    width: 8.5em;
    height: 32px;
    position:relative;
    z-index:2;
}
.form-check-input {
    margin-right: 3px;
    position: relative;
    z-index: 2;
}
.d-block {
    position: relative;
    z-index: 2;
}

/* Fix Dropdown Arrows Disappearing */
.form-control {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    -ms-appearance: menulist !important;
    -o-appearance: menulist !important;
    appearance: menulist !important;
}

.slider {
    width:10em;
}
.color-box {
    width: 14px;
    height: 14px;
    margin-left: 5px;

}

.collapsible {
    cursor: pointer;
    padding: 4px;
    padding-right: 8px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    bottom: 0;
    left: 0;
    background: none;
    color: white;
    font-size: 12px;
    font-style: italic;
}

.hidden {
    display: none !important;
}