/* bubble css by Aeonsake */
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px 20px;
    color: #5a3c32;
    font-size: 20px;
    font-weight: bold;
    white-space: pre;
    transform: translate3d(-5px, 10px, 0) scale(0);
    transform-origin: top;
    transition: transform .1s ease-out;
    z-index: 999;
    pointer-events: none;
}

.bubble-letter {
    padding: 40% 50% !important;
    font-size:120%;
    line-height:105%;
    justify-content:left;
}

.bubble:empty {
    display: none;
}

.bubble::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 5px;
    width: 40px;
    height: calc(50% + 10px);
    background: url('/acgc-se/ui-icons/bubble-triangle.png') center center / 100% 100% no-repeat;
    image-rendering: optimizespeed;
    image-rendering: auto;
    z-index: -2;
}

.bubble::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/acgc-se/ui-icons/bubble-bg.png') center center / 100% 100% no-repeat;
    image-rendering: optimizespeed;
    image-rendering: auto;
    filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.5));
    z-index: -1;
}

.inventory-slot:hover .bubble {
    transform: translate3d(-5px, 10px, 0) scale(1);
}

.letter-slot:hover .bubble {
    transform: translate3d(-5px, 10px, 0) scale(1);
}