@model Philidea.Website.Pages.acgcModel

<h5>Town Name</h5>
<input type="text" maxlength="8" class="form-control" id="town_name"></input>

<h5>Bulletin Board Post #1</h5><textarea class="form-control" id="bulletin_board_post_01"></textarea>
<h5>Bulletin Board Post #2</h5><textarea class="form-control" id="bulletin_board_post_02"></textarea>