<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="A collection of all of my projects.">
    <link rel="icon" href="favicon_totk.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <meta name="google-site-verification" content="k5Brac5zREVcl-f_xIX_gqRmDn70L7eziw_Xy5k2aOE" />
</head>

<body>
    <!--HEADER-->
    <header class="border-bottom box-shadow mb-3" style="background-color: #212121;">
        <div class="row">
            <div class="container col-auto" style="white-space:nowrap; margin-left:200px;">
                <label style="color:white;font-size:28px;padding:10px;">@ViewData["HeaderTitle"]</label>
            </div>

            <div class="container col" style="display:flex;align-items:center;">
                <style>
                    ul.horizontal-list {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                    }
                    ul.horizontal-list li {
                        display: inline-block;
                        margin-right: 30px;
                    }

                    ul.horizontal-list a {
                        color: #5be2d4;
                        text-decoration: none;
                    }
                </style>

                <ul class="horizontal-list">
                    <li><a href="mailto:philip.underwood2@gmail.com">Contact</a></li>
                    <li><a href="https://github.com/phil-macrocheira" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!--BODY-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>