<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TOTK.Website.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>
<body>
    <!--HEADER-->
    <header class="bg-black border-bottom box-shadow mb-3" >
        <div class="container">
            <label class="totk-title" style="margin-top: 10px; color:white; font-size: 28px;">TEARS OF THE KINGDOM DAMAGE CALCULATOR (BETA)</label>
        </div>
    </header>

    <!--BODY-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--FOOTER-->
    <footer class="bg-black border-top footer text-muted">
        <div class="container">
            <style>
                ul.horizontal-list { list-style-type: none; padding: 0; margin: 0; }
                ul.horizontal-list li { display: inline-block; margin-right: 30px; }
                ul.horizontal-list a { color: #5be2d4; text-decoration: none; }
            </style>

            <ul class="horizontal-list">
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdWgQW8VGALbCsqE25iIV-nFlz37l-pYmLtYqz4dm_N9TTzAQ/viewform" target="_blank">Submit Feedback</a></li>
                <li><a href="https://github.com/phil-macrocheira/TOTK-Damage-Calculator" target="_blank">Github</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1LGihwXFrp6FxqSsbrUVIHcw8Nis6Qr3nedVdVpWbpls" target="_blank">Data</a></li>
                <li><a href="https://docs.google.com/document/d/1K5hLcxfnvSnY-nsIP-n8Ew7rm9EkqHtnn6iJqOnxlng" target="_blank">Damage Doc</a></li>
                <!-- <li><a href="https://discord.gg/k4s5KY7ASj" target="_blank">Datamining Discord</a></li> -->
            </ul>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>