@page
@{
    ViewData["Title"] = "Phil's Projects";
    ViewData["HeaderTitle"] = "Phil's Projects";
}
@Html.AntiForgeryToken()

<div class="container">
    <h5>Web Apps</h5>
    <div class="section">
        <ul>
            <li><a asp-page="/totk-dc/totk-calculator">Tears of the Kingdom Damage Calculator</a></li>
            <!--<li><a asp-page="/acgc-se/acgc-save-editor">Animal Crossing GameCube Save Editor</a></li>-->
        </ul>
    </div>

    <h5>Tears of the Kingdom Spreadsheets</h5>
    <div class="section">
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1fBvQ17WHP3ASgtO8ode_rf1g4DfEHErMrHwwLppNTJM" target="_blank">Data Spreadsheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1eHHFwGDsI3sHTOLaawlxKgxbiLG8ceHUHpbpC2Bj57k" target="_blank">Interactable Objects</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1pEWt5JnzRObshr3OEwnSK1QEVsgzOL7F_OHZweXEXz4/copy" target="_blank">Energy Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1gzS-kViCZ6c4GCDdUFiwfx_Fih2sbcwJm5czzKLJvGo/copy" target="_blank">Armor Upgrade Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1dIqcZ4a0D_oyug5wTMdF9Ori7wOyTzJOsamnGHn-IdU/copy" target="_blank">Horse Upgrade Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1j9ODWUEsDAOhodMpl0tF9uu0Pxu7FmPD5KQrdaacobI/copy" target="_blank">Scaling Points Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1DCzRLWY7R4es7aXKlnaqaSfzuJScUsae-0j95HX2Z_A/copy" target="_blank">Dispenser Capsule Count Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/175Hq1D_abLKo0kTSC7ScBxzgtgJTVMmBQQNahA3AleY" target="_blank">Ripened Flint Chances</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1ydinED6X_MN_LhwZTAJehpTz2r03M8FdIs12inP-30s" target="_blank">Save File Flag Documentation</a></li>
        </ul>
    </div>

    <h5>Elden Ring Spreadsheets</h5>
    <div class="section">
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1xLMP8BXDFdl1A1TbttVzdBr2Je-WNVQ9y6_HqIMymXI/copy" target="_blank">Damage Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1ybiI1WgyRs67kGklUXeroi58KDab2KsU_hKutBORiW0" target="_blank">Weapon Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1x6LvzrqA9LWXPbzPZBDG8aL4N3Xc_ZxtEFMWpUxQj5c" target="_blank">Item Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1aujq95UfL_oUs3voPt3nGqM1hLhaVJOj6JKB6Np3FD8" target="_blank">NPC Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1mdGrCPN945CaJNHV3dfrdgosQRWzxOmrEuVok0w9yy8" target="_blank">Compatible Ash of War Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1PR2-7jZPrmd_xs4rYyBCBLhPk5sZl497WVOjydY0eBc" target="_blank">Armor Set Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1EvWcQFlu9C9_VwHXQKEJGR5x0UMcHoUauVeTEuYtXJc/copy" target="_blank">Optimal Catalyst Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1GK-lDuT-BLbAqrrDfFp9QTkk5s5zlboDyBBO_TS3ioU" target="_blank">Catalyst Spell Boosts</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1gtTVHplSwwat8B0gtwdckerhvr9YGX1HwJN2tcQxutE/copy" target="_blank">Item Droprate Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1WTbAmbs3boQSm9FnnoyI8YVyVKRbVKYU4B33De4WdpI/copy" target="_blank">Rune Cost Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1qgG4bJZE8HcBFm-lsTtz8im7NEL0KGE0AgEX6tj7nkM/copy" target="_blank">Fall Damage Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1oURemwaEQtnYGnqpTuitPN9J4yK_8vl3-4YKqmXHHdI/copy" target="_blank">Effect Stacking Calculator</a></li>
        </ul>
    </div>

    <h5>Animal Crossing Spreadsheets</h5>
    <div class="section">
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1sUkxxXdDw1bHDdmWuMuoWmQWs7JUaa9MmDrzFDW0xs8/copy" target="_blank">Animal Crossing (N64/GCN) Spawnrate Sheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1jNvt62K3JS18LnrOr2BgD4z6o337KpIFvVmqrSX_OWo/copy" target="_blank">Animal Crossing (N64/GCN) Gulliver Spawn Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1Fsr-H-ZAElmnmW7gnqlHoU0PovkErNDx-x18nliZpWU/copy" target="_blank">Animal Crossing (N64/GCN) Money Luck Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1KVjAROK2lIyXwq1KsdGTAFHye3iLYF644Iz_RSiFz5g/copy" target="_blank">Animal Crossing (N64/GCN) Katrina's Fortune Generator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1COy7nIKDAcTEAU8RDMGQJjeUtWcdlPjI889wXv2kJd8/copy" target="_blank">Animal Crossing (N64/GCN) GBA Item Chance Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1jQDNdjoJqjwXYA5ErqAnnnAtaVt_WPruV4tNy0JUjSQ" target="_blank">Animal Crossing (N64/GCN) Letter Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1lvp6J4lLQIpfNab8qWKREOBD2Yb1aIcyn4x8cqI9aps" target="_blank">Animal Crossing (N64/GCN) Event Dates</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1ZzNENPg10tltdpN-HbRFb3kxney34DP2Cjv_ZPud6p0" target="_blank">Animal Crossing (N64/GCN) Villager Schedules</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1hHazrh1RxOsK3JmXPVZmjawjP30KzmVZxFrfDG02OZ0/copy" target="_blank">Animal Crossing: New Leaf Luck Calculators</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1hinFKyHte5eDgUfJLy-Pj-v7o33s8ED3Ns_xnACHyHQ/copy" target="_blank">Animal Crossing: New Horizons DIY Material Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1Jfj8lAXFO1OwqPCkZtEFAPnjoecf_9acHVJJKMhRHVE" target="_blank">Animal Crossing: New Horizons HHP Request List</a></li>
        </ul>
        <h5 style="color:black;">In Collaboration with <a href="https://discord.gg/KXvTK4q" target="_blank">Animal Crossing Spreadsheets Discord</a></h5>
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/13sRAcj9YbP9_i-u0Kg6S7ycHbaOQx1jFG4lYLm2DJ4c" target="_blank">Animal Crossing (N64/GCN) Data Spreadsheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1aGEu_eoS3a-g_Tf--ewS0fLhyOHbNzpSc5jtaEE8nrA" target="_blank">Animal Crossing: Wild World Spreadsheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1gnVVn8JeP4KHAvjxoBC8I8TK4mBcrbzwdpFzTaw20s8" target="_blank">Animal Crossing: City Folk Spreadsheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1pMPl6_5c2C5HQK3pMdRbGH2FU7ZOpthrHrkluY9PoLg" target="_blank">Animal Crossing: New Leaf Spreadsheet</a></li>
        </ul>
    </div>

    <h5>Professor Layton's London Life</h5>
    <div class="section">
        <ul>
            <li><a href="https://github.com/phil-macrocheira/LLSE" target="_blank">London Life Save Editor (WIP)</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/18VAszsjBwVjmHgC-I11Us80n1CBJWbdnRHqUrTmsAYk" target="_blank">Data Spreadsheet</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1i6eGxmilNdZDjEHSeXeuchBsOfNLQ0zsw5KtZnshNNE" target="_blank">Memory Documentation</a></li>
        </ul>
    </div>

    <h5>Other Spreadsheets</h5>
    <div class="section">
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/111Mr0s-S0E2fwRqV6zN7WnC54rzdoRnOZ0Qu9Rl5SO4" target="_blank">Ocarina of Time Enemy Damage Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1sdTBbnXOa9iUJyeqRAQeQYmfOYxTwdLBOwoIIOC2hJw" target="_blank">Zelda Games On Every Console</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1WHpTVM8jpilVQB2egWbLOM0NCAnXaxF6GWneBIFJ_ZY" target="_blank">Zelda Releases By Year</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1WlQkKTUpqru2k6ffdGxD2BDnfqjNLxqxXRW84srqB0w" target="_blank">Diaries of a Spaceport Janitor Data</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1C6cQfPssu2XcboMwiFvLWDGc6dj0F8cZq2ihynY2VQY" target="_blank">Monster Hunter Series Monster List</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/15ZMyo1K1qye7wKnFvoZz7GLtgzqxM9pmQSk6f_ZgLJI/copy" target="_blank">Monster Hunter Iceborne Guiding Lands Material Calculator</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1Ni4H6h3Z39TH5Dt2wOjxIDn1hPvMbVdTKaJ8Cev2lD4" target="_blank">Australian Birth Rates Analysis</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1LVG85DEZViJ7uJzIDD9EfdyrmoVPE9Pxq170qavpuM4" target="_blank">Half Birthdays</a></li>
        </ul>
    </div>
</div>